{% extends "blog/header.html" %}


{% block content %}
	<div id="post-list">
		{% for post in object_list%}
			{{post.date|date:"d/m/Y"}}: 
			<a href="/blog/{{post.id}}">{{post.title}}</a>
			&nbsp;(Last edit: {{post.last_edit_date|date:"d/m/Y"}})	
			<hr>
		{% endfor %}
	</div>
{% endblock %}

	<!--	<a href="http://data.typeracer.com/pit/profile?user=lavee_singh&ref=badge" target="_top"><img src="http://data.typeracer.com/misc/badge?user=lavee_singh" border="0" alt="TypeRacer.com scorecard for user lavee_singh"/></a> -->
