*{
	font-family: "Times New Roman", Times, serif;
	background-color: #bbb;
	color: black;
}

#my-image{
	border-radius: 10px;
	height: 100px;
	width: 100px;
}

.well a{
	font-size: 20px;
}


#post-content{
	border-radius: 20px;
	border: 2px solid #fff;
}

#post-list{
	font-size: 20px;
}

#post-list a{
	color: blue;
}
